/*
* General classes scss
*/

.container {
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 2em;
}

.hover {
  cursor: pointer;
  transition: $transition;
}
.hover:hover {
  color: $color-orange !important;
}

.a-link-icon {
  display: flex;
  align-items: flex-start;
}

// Navbar for Individuals and About us
.general {
  height: 5em;
  display: flex;
  width: 100%;
  justify-content: center;

  &__nav {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--a {
      display: flex;
      width: 23em;
    }

    &--menu {
      display: flex;
      align-items: center;
    }

    &--language {
      display: flex;
      align-items: self-end;
      justify-content: center;

      ul {
        display: flex;
        justify-content: center;
      }

      li {
        width: 2em;
        &:first-child {
          margin-right: 1em;
        }
      }

      img {
        width: 60%;
      }
    }
  }
}
